PORT=8080
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
APP_MAIL_TO=
APP_MAIL_FROM=
# Database configuration
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

# JWT Secret Key
JWT_SECRET=

# Other environment variables can be added here as needed

